.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  margin: 20px;
  pointer-events: none;
}

.loadingpic {
  height: 40vmin;
  width: 40vmin;
  margin: 20px;
  pointer-events: none;
}

.bborder {
  border-bottom-style: solid;
  border-bottom-color: coral;
  size: 3px;
}

.bborder2 {
  border-bottom-style: solid;
  border-bottom-color: black;
  size: 2px;
}

.column-divider {
  border-left-style: solid;
  border-left-color: black;
  size: 1px;
}

.mainsearchinput {
  margin: 3% 1% 3% 1%;
  width: 100vmin;
  font-size: calc(30px + 5vmin);
}

.mainsearchbutton {
  margin: 3% 1% 3% 1%;
  width: 5px + 15vmin;
  height: 30px + 5vmin;
}

.mainbuttontext1 {
  font-size: calc(10px + 4vmin);
}

.resultbox {
  border-style: solid;
  border-color: black;
  margin: 3%;
  size: 3px;
  
}

.urlbox {
  word-wrap: break-word;
  white-space: break-spaces;
  overflow: hidden;
  max-width: 100vmin;
  border-left:1em solid transparent;
  border-right:1em solid transparent;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
